
div {
		width: 510px;
		height: 500px;
		border: 15px solid;
		padding: 25px;
		margin: 0 auto;
	}

.background_{ background:url("http://wx3.sinaimg.cn/woriginal/68318509gy1gdiws05bzbj21hc0u0n42.jpg") no-repeat; background-size: 100%;}
